.AdminNav {
  /* flex box layout */
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  /* margin: 0 0 30px; */
  background-color: #1aa4c2;
  overflow: hidden;
  padding: 15px;
  width: 300px;
}

.AdminNavLink {
  font-size: 32px;
  margin-top: 10px;
  display: flex;
}

.AdminNavLinks {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}

.logoutButton {
  display: flex;
}

.adminNavContents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.LRTHeader {
  width: 200px;
  margin-top: 30px;
}

.tuteeIcon {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  background-image: url("../../images/tuteeIconWhite.svg");
  background-size: cover;
}

.tutorIcon {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  background-image: url("../../images/tutorIconWhite.svg");
  background-size: cover;
}

.recordsIcon {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  background-image: url("../../images/recordsIconWhite.svg");
  background-size: cover;
}

.tuteeNavbarLink--active .tuteeIcon {
  background-image: url("../../images/tuteeIconBlue.svg");
  background-size: cover;
}

.tutorNavbarLink--active div {
  background-image: url("../../images/tutorIconBlue.svg");
}

.recordsNavbarLink--active div {
  background-image: url("../../images/recordsIconBlue.svg");
}

.navbarlink--active {
  background-color: white;
}
