@font-face {
  font-family: "PublicaSans-Bold";
  src: local("PublicaSans-Bold"),
    url("../../fonts/PublicaSans-Bold.otf") format("truetype");
}

@font-face {
  font-family: "PublicaSans-Light";
  src: local("PublicaSans-Light"),
    url("../../fonts/PublicaSans-Light.otf") format("truetype");
}

@font-face {
  font-family: "PublicaSans-Medium";
  src: local("PublicaSans-Medium"),
    url("../../fonts/PublicaSans-Medium.otf") format("truetype");
}

@font-face {
  font-family: "ZPublicaSans";
  src: local("ZPublicaSans"),
    url("../../fonts/ZPublicaSans.otf") format("truetype");
}

@font-face {
  font-family: "Lato-Thin";
  src: local("Lato-Thin"), url("../../fonts/Lato-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-ThinItalic";
  src: local("Lato-ThinItalic"),
    url("../../fonts/Lato-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  src: local("Lato-Light"), url("../../fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-LightItalic";
  src: local("Lato-LightItalic"),
    url("../../fonts/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: local("Lato-Regular"),
    url("../../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Italic";
  src: local("Lato-Italic"),
    url("../../fonts/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: local("Lato-Bold"), url("../../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Black";
  src: local("Lato-Black"), url("../../fonts/Lato-Black.ttf") format("truetype");
}

html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.adminPageContainer {
  padding-left: 350px;
  padding-right: 50px;
  min-height: 100vh;
  padding-top: 40px;
}

.cardHead {
  background-color: rgb(162, 161, 161);
  display: flex;
  padding: 15px;
  border-radius: 8px;
  margin: 40px 0px 20px 0px;
  margin-bottom: 20px;
}

.cardHeadCol {
  display: flex;
  align-items: center;
}

.cardHeadCol p {
  margin: 0px;
}

.accordionHeader {
  width: 100% !important;
}

.cardButtons {
  display: flex;
}

.flaggedSubjectLanguage {
  display: flex;
}

.flag {
  margin-right: 3px;
}

.subjectFlag {
  color: #45c6a2;
}

.languageFlag {
  color: #093e48;
}

.activationButton {
  margin-right: 7px;
}

.tuteeInfoSubjectsAndLanguages {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.tuteeInfoSubjectsAndLanguages h2 {
  margin-bottom: 0px;
}

.tuteeInfoSubjectsAndLanguages p {
  display: flex;
  align-items: center;
  font-size: 22px;
  margin-bottom: 0px;
}

.subjectAndLanguage {
  display: flex;
}

.accordion-item {
  border: 1px solid rgba(255, 255, 255, 0) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1 {
  font-family: Lato-Regular;
}

h2 {
  font-family: Lato-Regular;
}

p {
  font-family: Lato-Regular;
}

h3 {
  font-family: Lato-Regular;
}

.logoutNameAndIcon {
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
}

.logoutNameAndIcon p {
  margin-bottom: 0px;
}

.signOutIcon {
  font-size: 40px;
}

.signOutName {
  font-size: 27px;
  margin-right: 8px;

  font-family: Lato-Regular;
}

.profileAnswer {
  font-family: Lato-Regular;
}

.profileQuestion {
  font-family: Lato-Black;
  font-size: 18px;
}

.profileFirstLastName {
  font-family: Lato-Black;
  font-size: 24px;
}

/* .profileSectionOne {
  background-color: #c8edf8;
  padding: 20px;
}

.profileSectionTwo {
  background-color: #18a4c38e;
  padding: 20px;
}

.profileSectionThree {
  background-color: #6ece9892;
  padding: 20px;
} */

.languagePill {
  background-color: #c8edf8a4;
  padding: 8px 20px;
  width: fit-content;
  border-radius: 30px;
  margin-right: 10px;
}

.languagePillContainer {
  display: flex;
  margin-bottom: 10px;
}

.profileTitle {
  display: flex;
  align-items: baseline;
}

/* .subjectContainer {
  display: flex;
} */

.subjectPillFlagged {
  background-color: #bdebde83;
  padding: 8px 20px;
  width: fit-content;
  border-radius: 30px;
  /* margin-right: 10px; */
  /* margin-left: 10px; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.subjectPill {
  background-color: #eaeaeadd;
  padding: 8px 20px;
  width: fit-content;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gradesPill {
  background-color: #eaeaeadd;
  padding: 8px 20px;
  width: fit-content;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato-Regular;
}

.formInput {
  width: 40% !important;
}

.selectInput {
  width: 50% !important;
}

.textInput {
  width: 40% !important;
}
