html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

/* .btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
} */

/* This line makes the "Register" and "Login" buttons look like links */
/* .btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
} */

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.adminPageContainer {
  padding-left: 350px;
  padding-right: 50px;
  min-height: 100vh;
  padding-top: 40px;
}

/* --------------------------------------------------------------------------------
tables
-------------------------------------------------------------------------------- */

/* thead {
  background-color: rgb(127, 142, 145);
  border-radius: 40px !important ;
}

thead th {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 20px;
  padding-right: 20px;
}

thead th:first-child {
  border-radius: 10px 0 0 10px;
}
thead th:last-child {
  border-radius: 0 10px 10px 0;
}

tbody tr {
  border: 1px solid black;
  border-radius: 50px !important;
  padding: 20px !important;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px;
}

td {
  border: solid 1px #000;
  border-style: solid none;
  padding: 10px;
}
td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
*/

.cardHead {
  background-color: rgb(162, 161, 161);
  display: flex;
  padding: 15px;
  border-radius: 8px;
  margin: 40px 0px 20px 0px;
  margin-bottom: 20px;
}

.cardHeadCol {
  display: flex;
  align-items: center;
}

.cardHeadCol p {
  margin: 0px;
}

.accordionHeader {
  width: 100% !important;
}

.cardButtons {
  display: flex;
}

.flaggedSubjectLanguage {
  display: flex;
}

.flag {
  margin-right: 3px;
}

.subjectFlag {
  color: #fe7e6d;
}

.languageFlag {
  color: #2f3a8f;
}

.activationButton {
  margin-right: 7px;
}

.tuteeInfoSubjectsAndLanguages {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.tuteeInfoSubjectsAndLanguages h2 {
  margin-bottom: 0px;
}

.tuteeInfoSubjectsAndLanguages p {
  display: flex;
  align-items: center;
  font-size: 22px;
  margin-bottom: 0px;
}

.subjectAndLanguage {
  display: flex;
}
